In [3]:
import seaborn as sns
import pandas as pd
import numpy as np
import statsmodels.api as sm
import os

In [4]:
df = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")
df

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018240,2023-07-03 18:05:00,NaN,NaN,40.866806,-73.931010,"(40.866806, -73.93101)",RIVERSIDE DRIVE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4648110,Sedan,Sedan,NaN,NaN,NaN
2018241,2023-07-22 21:39:00,BRONX,10457.0,40.844177,-73.902920,"(40.844177, -73.90292)",EAST 174 STREET,WEBSTER AVENUE,NaN,1.0,...,NaN,NaN,NaN,NaN,4648117,Sedan,NaN,NaN,NaN,NaN
2018242,2023-07-02 17:55:00,MANHATTAN,10006.0,40.711033,-74.014540,"(40.711033, -74.01454)",WEST STREET,LIBERTY STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4648366,Taxi,NaN,NaN,NaN,NaN
2018243,2023-07-22 13:15:00,QUEENS,11433.0,40.691580,-73.793190,"(40.69158, -73.79319)",110 AVENUE,157 STREET,NaN,1.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4648129,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
2018244,2023-07-22 03:00:00,QUEENS,11433.0,40.700240,-73.792854,"(40.70024, -73.792854)",SOUTH ROAD,164 STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4647913,Sedan,NaN,NaN,NaN,NaN

In [6]:
year_sorted = df.sort_values(by='CRASH DATE_CRASH TIME', ascending=True)
year_sorted

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
1919938,2012-07-01 00:05:00,NaN,NaN,40.697753,-73.813916,"(40.6977532, -73.8139159)",NaN,NaN,NaN,1.0,...,Unspecified,NaN,NaN,NaN,2999940,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1923982,2012-07-01 00:05:00,MANHATTAN,10036,40.762127,-73.997387,"(40.7621266, -73.9973865)",11 AVENUE,WEST 44 STREET,NaN,0.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,37632,PASSENGER VEHICLE,BUS,NaN,NaN,NaN
1923574,2012-07-01 00:10:00,BROOKLYN,11223,40.588868,-73.972745,"(40.5888678, -73.9727446)",WEST 3 STREET,BOUCK COURT,NaN,0.0,...,Unspecified,NaN,NaN,NaN,116256,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1922370,2012-07-01 00:10:00,NaN,NaN,40.733610,-73.923840,"(40.73361, -73.9238405)",NaN,NaN,NaN,1.0,...,Unspecified,Unspecified,Unspecified,NaN,3044659,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN
1920559,2012-07-01 00:20:00,BROOKLYN,11215,40.677406,-73.983048,"(40.6774056, -73.9830482)",4 AVENUE,UNION STREET,NaN,0.0,...,Unspecified,NaN,NaN,NaN,175808,UNKNOWN,BICYCLE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1946679,2023-08-15 23:27:00,NaN,NaN,40.666397,-73.785000,"(40.666397, -73.785)",SOUTH CONDUIT AVENUE,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4654714,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1946380,2023-08-15 23:30:00,QUEENS,11369.0,40.768955,-73.868600,"(40.768955, -73.8686)",DITMARS BOULEVARD,102 STREET,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4654488,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1946683,2023-08-15 23:44:00,QUEENS,11432.0,40.707237,-73.792710,"(40.707237, -73.79271)",NaN,NaN,168-02 91 AVENUE,0.0,...,Unspecified,NaN,NaN,NaN,4654431,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1946758,2023-08-15 23:55:00,BRONX,10472.0,40.832943,-73.872430,"(40.832943, -73.87243)",NaN,NaN,1329 FTELEY AVENUE,0.0,...,Unspecified,NaN,NaN,NaN,4654897,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1946711,2023-08-15 23:59:00,QUEENS,11435.0,40.693344,-73.802280,"(40.693344, -73.80228)",WALTHAM STREET,107 AVENUE,NaN,1.0,...,Other Vehicular,Unspecified,NaN,NaN,4654662,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN

In [7]:
df['CRASH DATE_CRASH TIME'] = pd.to_datetime(df['CRASH DATE_CRASH TIME'])

In [8]:
crash_counts = df['BOROUGH'].value_counts()
crash_counts
#for question2, I calculated using the calculator on my phone

BOROUGH
BROOKLYN         441026
QUEENS           372457
MANHATTAN        313266
BRONX            205345
STATEN ISLAND     58297
Name: count, dtype: int64

In [11]:
noUnspecified = df[df['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']
leading_cause = noUnspecified['CONTRIBUTING FACTOR VEHICLE 1'].value_counts().idxmax()
leading_cause

'Driver Inattention/Distraction'

In [12]:
factor_counts = noUnspecified['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()
factor_counts

CONTRIBUTING FACTOR VEHICLE 1
Driver Inattention/Distraction                           401262
Failure to Yield Right-of-Way                            119166
Following Too Closely                                    107467
Backing Unsafely                                          75042
Other Vehicular                                           62688
Passing or Lane Usage Improper                            55445
Turning Improperly                                        49908
Passing Too Closely                                       49848
Fatigued/Drowsy                                           47343
Unsafe Lane Changing                                      39711
Traffic Control Disregarded                               35210
Driver Inexperience                                       31274
Unsafe Speed                                              26915
Alcohol Involvement                                       21656
Lost Consciousness                                        20374
Reaction to Uninvolved Vehicle                            19502
Pavement Slippery                                         19268
Prescription Medication                                   15407
View Obstructed/Limited                                   13215
Outside Car Distraction                                   12657
Oversized Vehicle                                         12352
Physical Disability                                        9342
Aggressive Driving/Road Rage                               9263
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      9116
Passenger Distraction                                      7925
Brakes Defective                                           6741
Fell Asleep                                                5459
Obstruction/Debris                                         4143
Glare                                                      4022
Failure to Keep Right                                      3239
Steering Failure                                           2791
Tire Failure/Inadequate                                    2453
Pavement Defective                                         2401
Other Electronic Device                                    2331
Illness                                                    2158
Illnes                                                     1584
Animals Action                                             1518
Reaction to Other Uninvolved Vehicle                       1337
Driverless/Runaway Vehicle                                 1209
Accelerator Defective                                      1060
Lane Marking Improper/Inadequate                            970
Traffic Control Device Improper/Non-Working                 847
Drugs (illegal)                                             838
Cell Phone (hand-Held)                                      503
Drugs (Illegal)                                             419
Cell Phone (hands-free)                                     269
Tow Hitch Defective                                         213
Other Lighting Defects                                      184
Tinted Windows                                              162
Using On Board Navigation Device                            148
Vehicle Vandalism                                           131
Headlights Defective                                        130
Eating or Drinking                                          116
80                                                          101
Shoulders Defective/Improper                                 88
Cell Phone (hand-held)                                       79
Windshield Inadequate                                        77
Texting                                                      50
Listening/Using Headphones                                   24
1                                                            10
Name: count, dtype: int64

In [13]:
top5total = factor_counts.head(5).sum()
top5total

765625

In [15]:
totalcrashes = factor_counts.sum()
totalcrashes

1319161

In [17]:

top5 = (top5total / totalcrashes) 
top5

0.5803878374209062

In [18]:
df['NUMBER OF PERSONS KILLED'] = df['NUMBER OF PERSONS KILLED'].fillna(0)
fatalities = df[df['NUMBER OF PERSONS KILLED'] >= 2]
fatalities

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
4137,2021-12-16 00:15:00,BRONX,10461.0,40.849550,-73.853050,"(40.84955, -73.85305)",MORRIS PARK AVENUE,HAIGHT AVENUE,NaN,0.0,...,NaN,NaN,NaN,NaN,4487222,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
22638,2021-05-21 00:00:00,NaN,NaN,40.868080,-73.908580,"(40.86808, -73.90858)",MAJOR DEEGAN EXPRESSWAY,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4419608,Refrigerated Van,Sedan,NaN,NaN,NaN
23322,2021-05-22 04:46:00,NaN,NaN,40.738457,-73.939810,"(40.738457, -73.93981)",BORDEN AVENUE,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,4419561,Sedan,NaN,NaN,NaN,NaN
24991,2021-12-24 09:21:00,MANHATTAN,10065.0,40.762802,-73.965675,"(40.762802, -73.965675)",EAST 61 STREET,3 AVENUE,NaN,0.0,...,Unspecified,Unspecified,NaN,NaN,4490224,Box Truck,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN
44643,2021-06-18 10:00:00,NaN,NaN,40.675354,-73.952774,"(40.675354, -73.952774)",ROGERS AVENUE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4430850,Motorcycle,Dump,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990142,2023-04-11 00:58:00,NaN,NaN,40.631496,-73.884476,"(40.631496, -73.884476)",BELT PARKWAY,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4619931,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
1997299,2023-05-07 07:46:00,NaN,NaN,40.617180,-74.038770,"(40.61718, -74.03877)",SHORE ROAD,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4627379,Sedan,NaN,NaN,NaN,NaN
2006974,2023-06-05 04:24:00,QUEENS,11420.0,40.680008,-73.823050,"(40.680008, -73.82305)",117 STREET,111 AVENUE,NaN,0.0,...,Traffic Control Disregarded,Unspecified,Unspecified,NaN,4635512,Sedan,Sedan,Sedan,Sedan,NaN
2010710,2023-06-24 03:39:00,NaN,NaN,40.666748,-73.764534,"(40.666748, -73.764534)",BELT PARKWAY,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4640445,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2013128,2023-07-03 06:38:00,MANHATTAN,10033.0,40.847412,-73.933310,"(40.847412, -73.93331)",AUDUBON AVENUE,WEST 179 STREET,NaN,4.0,...,Unspecified,Unspecified,Unspecified,Unspecified,4643193,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan

In [20]:
twoormore = fatalities.shape[0]
twoormore

88

In [24]:
fatalaccidents = df[df['NUMBER OF PERSONS KILLED'] >= 1].shape[0]
totalaccidents = df.shape[0]

In [26]:
fatalaccidents_per1000 = (fatalaccidents / totalaccidents) * 1000
fatalaccidents_per1000

1.3893258747079764

In [28]:
totalaccidents = df.shape[0]
without_cross_street = df['CROSS STREET NAME'].isna().sum()
proportion = (without_cross_street / totalaccidents)
proportion

0.37435098315615795

In [34]:
df['VEHICLE_COMBINATION'] = df['VEHICLE TYPE CODE 1'].astype(str) + ' & ' + df['VEHICLE TYPE CODE 2'].astype(str)
vehicle_combination = df['VEHICLE_COMBINATION'].value_counts()

most_common_combination = vehicle_combination.idxmax()
most_common_combination

'Sedan & Sedan'

In [35]:
df['NUMBER OF PERSONS KILLED'] = df['NUMBER OF PERSONS KILLED'].fillna(0)
alcohol = df[df['CONTRIBUTING FACTOR VEHICLE 1'] == 'Alcohol Involvement']

# Count the number of fatalities in the alcohol-related crashes
fatalities = alcohol[alcohol['NUMBER OF PERSONS KILLED'] > 0].shape[0]

# Calculate the proportion of these that resulted in a fatality
proportion_fatalities = (fatalities / alcohol.shape[0])
proportion_fatalities

0.0046638345031400075

In [36]:
evening_rush_hour = df[(df['CRASH DATE_CRASH TIME'].dt.hour >= 16) & (df['CRASH DATE_CRASH TIME'].dt.hour < 19)]

evening_rush_hour_count = evening_rush_hour.shape[0]
all_time_crashes = df.shape[0]

proportion_evening_rush_hour = (evening_rush_hour_count / all_time_crashes)
proportion_evening_rush_hour

0.20514010935243243

In [41]:
motorcycle_crashes = df[(df['VEHICLE TYPE CODE 1'].str.contains('MOTORCYCLE', na=False)) |
                        (df['VEHICLE TYPE CODE 2'].str.contains('MOTORCYCLE', na=False))]

motorcycle_crashes.loc[:, 'NUMBER OF PERSONS INJURED'] = motorcycle_crashes['NUMBER OF PERSONS INJURED'].fillna(0)
motorcycle_crashes.loc[:, 'NUMBER OF PERSONS KILLED'] = motorcycle_crashes['NUMBER OF PERSONS KILLED'].fillna(0)

injuries_no_fatalities = motorcycle_crashes[(motorcycle_crashes['NUMBER OF PERSONS INJURED'] > 0) & 
                                            (motorcycle_crashes['NUMBER OF PERSONS KILLED'] == 0)].shape[0]

total_motorcycle_crashes = motorcycle_crashes.shape[0]

proportion = (injuries_no_fatalities / total_motorcycle_crashes) * 100
proportion

50.04565018912221

In [42]:
bicycle_crashes = df[(df['VEHICLE TYPE CODE 1'].str.contains('BICYCLE', na=False)) |
                     (df['VEHICLE TYPE CODE 2'].str.contains('BICYCLE', na=False))]
count = bicycle_crashes.shape[0]
count

19108